<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body class="container-fluid">
    <div style=margin:2em auto; class="row">
            <div class="col mb-3 ">
                <div class="card shadow bg-light" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ todo.title }}</h5>
                  <p class="card-text">{{ todo.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% if not todo.done %}
                        <li class="list-group-item text-danger bg-light">Done: {{todo.done}}</li>
                    {% else %}
                        <li class="list-group-item text-success bg-light">Done: {{todo.done}}</li>
                    {% endif %}
                    <li class="list-group-item bg-light">Assigned to: {{todo.assigned_user}}</li>
                    <li class="list-group-item bg-light">Created by: {{todo.created_by}} <span class="text-muted">-{{todo.created}}</span></li>
                    <li class="list-group-item bg-light">Updated by: {{todo.updated_by}} <span class="text-muted">-{{todo.updated}}</span></li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'todo_update' todo.id %}">Edit</a>
                    <a href="{% url 'todo_delete' todo.id %}">Delete</a>
                    <a href="{% url 'todo_reassign' todo.id %}">Reassign</a>
                </div>
                </div>
            </div>   
    </div>
    <a href="{% url 'todo_home'%}" class="btn btn-info mt-3" role="button">Back</a>
</body>
</html>
